{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Load an icon library -->
    <script src="https://kit.fontawesome.com/593da481ed.js" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="https://www.webrtc-experiment.com/common.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <div class="wrapper">
        {% include 'sidebar.html' %}
        <div class=content>
            <div class="row">
                <div class="col-md-6" id="content-block">
                    <h1>{{ name }}</h1>
                    <p>Press the button to log an important moment during your event.</p>  
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4" id="content-block">
                    <h4>Live Camera Stream</h4>
                    <p>Your connected camera will be displayed here when you first log your event</p>
                    <video id="live" autoplay playsinline></video>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form action="/live_log/{{ event_id }}" method="POST">
                        <button type="submit" class="btn btn-info" name="log" id="log">Log</button>
                        <button type="submit" class="btn btn-secondary" name="save">Save Event</button>    
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var event_id = {{ event_id|tojson }}
    </script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ url_for('static',filename='recorder.js') }}"></script>
    
{% endblock %}