<!-- Load an icon library -->
<script src="https://kit.fontawesome.com/593da481ed.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='index.js') }}"></script>


<div class="sidebar">
    <a class="nav-link pl-0" href="{{ url_for('live_log', event_id=event_id) }}"><i class="fas fa-house-user"></i> <span class="font-weight-bold">Event Home</span></a>
    <a class="nav-link pl-0" href="{{ url_for('image_upload', event_id=event_id) }}"><i class="fas fa-camera"></i> <span class="d-none d-md-inline">Add Images</span></a>
    <a class="nav-link pl-0" href="{{ url_for('route', event_id=event_id) }}"><i class="fas fa-map"></i> <span class="d-none d-md-inline">Add Routes</span></a>
    <a class="nav-link pl-0" href="{{ url_for('image_upload', event_id=event_id) }}"><i class="fas fa-film"></i> <span class="d-none d-md-inline">Add Video</span></a>
</div>

